<%- include("partials/header") -%>


<div id="allBlogsMode">

    <h1><%=message%></h1>

    <br>

    <% blogs.forEach( (blog)=> { %>
    <h3><%=blog.blogTitle%></h3>
    <p>
        <%=blog.blogBody.split(' ').slice(0,50).join(' ')%>
        ...<a href="/api/blogs/read/<%=blog._id%>">Read more</a>
    </p>
    <%})%>

</div>


<%- include("partials/footer") -%>
