<%- include("partials/header") -%>

<h1><%=title%></h1>
<p><%=post%></p>

<form action="/post" method="post">
    <button type="submit" class="btn btn-primary" name="deletePost" value="<%=title%>">Delete Post</button>
</form>
<%- include("partials/footer") -%>